html {
	background: #fff;
	border-radius: 1em;
	border: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: 1em;
	margin: .5em 0;
	font-weight: normal;
}

h3,
.experiment_variations,
.add_variation {
	margin-left: 1em;
}

fieldset {
	border: none;
}

.experiment {
	border-radius: .5em;
	border: 1px solid #ddd;
	padding: .5em;
	margin-bottom: .5em;
}

label {
	display: none;
}

.add_variation {
	text-align: right;
}

.text,
.radio {
	display: inline;
}

.text input {
	width: 11em;
}

#add legend {
	display: none;
}